@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

:where(.css-dev-only-do-not-override-13fbrly).ant-tabs >.ant-tabs-nav .ant-tabs-nav-operations, :where(.css-dev-only-do-not-override-13fbrly).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-operations {
    display: none;
}
.ant-spin-dot-item {
    background-color: #FC8019 !important;
}
@media (min-width: 1024px) {
    .main-layout {
        margin-top: 80px;
    }
}