*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

// .ant-switch.ant-switch-checked {
//   background-color: #DC4446 !important;
// }
.main_area {
  // overflow: hidden;
  // background: white !important;
  // .ant-layout-sider-children, .ant-layout-sider-trigger{
  //   border-right: 1px solid rgb(55, 55, 55);
  // }
  .ant-pagination .ant-pagination-item-active{
    border-color: transparent;
  }
  .ant-menu-submenu-title {
    color: #fc8019 !important;
  }

  .ant-menu-item-active {
    color: #fc8019 !important;
  }

  .ant-menu-item-selected {
    color: white !important;
    background-color: #fc8019 !important;
  }
}

.wc {
  border-radius: 50%;
  border-width: 4px;
  width: 18px;
  height: 18px;
}
.bd {
  border: 2px solid red;
}