.entername :where(.css-dev-only-do-not-override-1vwdv43).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover, .entername :where(.css-dev-only-do-not-override-1vwdv43).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus {
    border-color: #FC8019!important;
    box-shadow: none;
}
.entername :where(.css-dev-only-do-not-override-1vwdv43).ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover, :where(.css-dev-only-do-not-override-1vwdv43).ant-btn-link:not(:disabled):not(.ant-btn-disabled):focus{
    color: #FC8019!important;
}