.search {
  .ant-input-search-button,
  .ant-input-affix-wrapper {
    border: none;
    height: 100%;
  }
  .ant-input-affix-wrapper,
  .ant-input {
    background-color: transparent !important;
  }
  .ant-input-clear-icon,
  .ant-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-btn {
    box-shadow: none;
  }
  .ant-input-wrapper {
    border: 0.8px solid #fd9c4b !important;
    border-radius: 6px;
  }
  .ant-input-affix-wrapper {
    box-shadow: none;
  }
}
.search {
  .ant-input-group-addon {
    button {
      color: #fc8e32 !important;
    }
  }
  .ant-input-clear-icon {
    color: #fc8e32;
  }
}
.change-text-color {
  .ant-input {
    color: rgb(218, 214, 214);
    &::placeholder {
      color: rgb(218, 214, 214);
    }
  }
  .ant-input-group-addon {
    button {
      color: rgb(218, 214, 214) !important;
    }
  }
  .ant-input-clear-icon {
    color: rgb(218, 214, 214);
  }
}
